<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    论坛_发帖页
{% endblock %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/publish.css' %}" />
{% endblock %}
{% block content %}
    <body>

	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a href={% url 'bbs:BBSIndexView' %}>诗词论坛</a> &gt;发帖</a>
	</div>
	<div id="publish">
		<form action="" method="post">
         {% csrf_token %}
			<select name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{category.name}}</option>
                {% endfor %}
			</select>
			<input class="title" placeholder="请输入标题" name="title" type="text" />
			<textarea name="content" class="content"></textarea>
			<input class="publish" type="submit" name="submit" value="" />
			<div style="clear:both;"></div>
		</form>
	</div>
</body>
{% endblock %}